@import "variables";

.btn {
	border: none;
	outline: none;

	&.btn-primary {
		background: $color-purple-primary;
		border-radius: 5px;
		padding: 13px 30px;
		font-weight: $font-weight-extrabold;

		&:hover,
		&:focus,
		&:active {
			background: darken($color-purple-primary, 10%);
			box-shadow: none;
		}
	}

	&.btn-empty {
		background: transparent;
		border-radius: 5px;
		padding: 13px 30px;
		color: $color-purple-primary;

		&:focus,
		&:active {
			background: transparent;
			box-shadow: none;
		}
	}

	&.btn-filter {
		background: #fff;
		padding: 11px 20px;
		border: 1px solid #d8d8d8 !important;
		box-shadow: 0 2px 2px 0 #f0f0f0;
		border-radius: 5px;
		font-size: 14px;
		color: #000;
		margin-left: auto;
		text-align: center;
		white-space: nowrap;

		&:hover,
		&:active,
		&:focus,
		&.active {
			background-color: #f1f1f1 !important;
			border-color: #d8d8d8 !important;
			box-shadow: 0 2px 2px 0 #f0f0f0 !important;
		}

		&.blue {
			border: 1px solid $color-purple-primary;
			background-color: $color-purple-primary;
			box-shadow: none;

			&:hover {
				color: #fff !important;
				background-color: $color-purple-primary !important;
			}
		}

		svg {
			margin-right: 1.2rem;
			margin-left: 0.2rem;
			outline: none;
		}
	}

	&.btn-white {
		background-color: #fff !important;
		padding: 14px 30px;
		border: 1px solid $color-blue-primary;
		border-radius: 5px;
		font-size: 14px;
		color: $color-blue-primary;

		&:hover,
		&:active,
		&:focus {
			background-color: #f1f1f1 !important;
			border-color: #d8d8d8 !important;
			box-shadow: 0 2px 2px 0 #f0f0f0 !important;
		}

		&.outline {
			border: 1px solid #d8d8d8;
			color: #000 !important;
		}
	}

	&.btn-blue {
		background: $color-blue-primary;
		padding: 11px 20px;
		box-shadow: 0 2px 2px 0 #f0f0f0;
		font-size: 1rem;
		color: #fff;
		text-align: center;
		border-radius: 0;
		border: none;

		svg {
			margin-right: 1.2rem;
			margin-left: 0.2rem;
			outline: none;
		}
	}

	&.btn-red {
		background: $color-red-primary;
		padding: 11px 20px;
		box-shadow: 0 2px 2px 0 #f0f0f0;
		font-size: 1rem;
		color: #fff;
		text-align: center;
		border-radius: 0;
		border: none;

		svg {
			margin-right: 1.2rem;
			margin-left: 0.2rem;
			outline: none;
		}
	}
}
