body.loading #app::before {
	content: '';
	background-color: #383b43;
	display: block;
	position: absolute;
	top: 35%;
	left: 50%;
	transform: translateX(-50%);
	width: 60px;
	height: 60px;
	margin-bottom: 20px;
	border-radius: 100%;
	animation: circle-animation 1s infinite ease-in-out;
}

body.loading #app::after {
	color: #383b43;
	content: 'Betöltés\2026';
	display: block;
	position: absolute;
	top: calc(35% + 75px);
	left: 50%;
	transform: translateX(-50%);
	opacity: 0.75;
	font-family: Verdana, sans-serif;
	font-size: 0.85rem;
	line-height: 1.5;
}

@keyframes circle-animation {
	0% { transform: translateX(-50%) scale(0); }
	100% { transform: translateX(-50%) scale(1); opacity: 0; }
}
