:root {
	--vh: 1vh;
}

html {
	scroll-behavior: auto;
}

body,
#vue,
app {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	min-height: calc(100 * var(--vh));
}

body {
	color: $text-color;
	background: #fff;
}

main {
	flex: 1 1 auto;
	padding-top: 60px;

	@include media-breakpoint-up(lg) {
		padding-top: 100px;
	}
}

.page {
	margin-top: 35px;

	@include media-breakpoint-up(lg) {
		margin-top: 50px;
	}
}

.error-msg {
	font-size: 0.75rem;
	color: $color-error;
}

.form-control {
	position: relative;
	border-radius: 8px;
	height: unset !important;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 0;
	padding-left: 0;
	padding-right: 0;
	border: none;
	margin-bottom: 20px;

	@include media-breakpoint-up(lg) {
		margin-bottom: 35px;
	}

	.error-msg {
		position: absolute;
		top: calc(100% + 2px);
		left: 15px;
	}

	input,
	textarea {
		width: 100%;
		border: none;
		outline: none;
	}

	&.has-error {
		border: 1px solid $color-error;
	}

	&:focus {
		outline: none;
		border: 1px solid #d8d8d8;
		box-shadow: none;
	}
}

.dropdown-down {
	white-space: nowrap;

	&::after {
		content: "";
		display: inline-block;
		margin-left: 10px;
		width: 14px;
		height: 10px;
		background-image: url('../../assets/img/icons/chevron-down.svg');
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
	}
}

.wrapper {
	position: relative;
	max-width: $wrapper;
	margin-left: auto !important;
	margin-right: auto !important;
}

.el-dialog {
	max-width: 800px;
	border-radius: 12px;
}
