body {
	color: $text-color;
	font-family: $font-family-primary;
	font-display: swap;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a:hover {
	text-decoration: none;
}

h1,
.h1 {
	font-size: $font-size-h1__mobile;
	font-weight: $font-weight-semibold;

	@include media-breakpoint-up(md) {
		font-size: $font-size-h1;
	}
}

h2,
.h2 {
	font-size: $font-size-h2__mobile;
	font-weight: $font-weight-semibold;

	@include media-breakpoint-up(md) {
		font-size: $font-size-h2;
	}
}

h3,
.h3 {
	font-size: $font-size-h3__mobile;
	font-weight: $font-weight-semibold;

	@include media-breakpoint-up(md) {
		font-size: $font-size-h3;
	}
}

h4,
.h4 {
	font-size: $font-size-h4__mobile;
	font-weight: $font-weight-semibold;

	@include media-breakpoint-up(md) {
		font-size: $font-size-h4;
	}
}

h5,
.h5 {
	font-size: $font-size-h5__mobile;
	font-weight: $font-weight-semibold;

	@include media-breakpoint-up(md) {
		font-size: $font-size-h5;
	}
}

.font-size-lead {
	font-size: $font-size-h5;

	@include media-breakpoint-up(lg) {
		font-size: $font-size-h4__mobile;
	}

	@include media-breakpoint-up(xxl) {
		font-size: $font-size-h1__mobile;
	}
}
