@import 'common';


[v-cloak] {
	display: none;
}

.container-tight {
	max-width: 1320px;
	margin-left: auto;
	margin-right: auto;
}

.container-wide {
	max-width: 1920px;
	margin-left: auto;
	margin-right: auto;
	padding: 0 15px;
}

.nowrap {
	white-space: nowrap;
}

::v-deep(.el-image-viewer__canvas) {
	img {
		max-width: 60vw;
	}
}

.p-sm-horizontal-0 {
	@include media-breakpoint-down(sm) {
		padding-left: 0 !important;
		padding-right: 0 !important;
	}
}


.overflow-hidden {
	overflow: hidden !important;
}


.color-white {
	color: #fff !important;
}


