@import 'common';

picture {
	display: block;
	overflow: hidden;

	&.failed {
		position: relative;
		background-color: #ccc;

		.fallback {
			max-width: 100%;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			font-size: 0.75rem;
			line-height: 1.15;
			color: #f0f0f0;
			text-align: center;

			div {
				margin-top: 0.5rem;
			}
		}
	}

	img {
		display: block;
		width: 100%;
		height: auto;
		transition: all 0.3s ease-in-out;

		&.blur {
			filter: blur(10px);

			&.lazyloaded {
				filter: none;
			}
		}
	}
}
